html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0
}
fieldset,img {
    border: 0
}
img {
    display: block
}
address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal
}
ul,ol {
    list-style: none
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun","宋体"
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select,input {
    vertical-align: middle
}
select,input,textarea {
    font-size: 12px;
    margin: 0
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}

/* 显示省略号 */
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
html,body{
    height: 100%;
    width: 100%;
}










/* 修改ui样式 */
.nut-swiper .nut-swiper-pagination .swiper-pagination-bullet.active{
    background-color: #fff!important;
    width: 8px !important;
    opacity:1 !important;

}
.nut-swiper .nut-swiper-pagination .swiper-pagination-bullet{
    width: 5px !important;
    height: 4px !important;
    border-radius: 20px !important;
    background-color: rgb(163, 163, 163) !important;
    opacity: 0.8 !important;
}
 .searchpage .search-input input{
    padding: 5px 0 !important;
}